###> Symfony ###
/.env
/.env.dev
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
###< Symfony ###

###> Webpack Encore ###
/node_modules/
/public/build/
/public/bundles/
npm-debug.log
yarn-error.log
.pnp.*
###< Webpack Encore ###

###> PHPUnit ###
/phpunit.result.cache
###< PHPUnit ###

###> Logs ###
/var/log/
*.log
###< Logs ###

###> OS/System ###
.DS_Store
Thumbs.db
###< OS/System ###
