{% extends "base.html.twig" %}

{% block title %}

    MoviePage

{% endblock %}

{% block body %}
    <h1 class="bg-blue-500 text-2xl text-center font-bold">Hello asset updates</h1>
{% endblock %}
