{% extends "base.html.twig" %}

{% block title %}

    MoviePage

{% endblock %}

{% block body %}
    <ul>
        {% for movie in movies %}
            
            <li>{{movie}}</li>

        {% endfor %}
    </ul>
{% endblock %}
